name: Web E2E Tests

on: 
  workflow_dispatch:

jobs:
  e2e-tests:

    runs-on: ubuntu-latest

    steps: 

      # clone do projeto
      - uses: actions/checkout@v4

      # Conferir a versão do Node
      - name: Node version
        run: node --version

      # Instalar dependências
      - name: Instalando dependências
        run: npm install

      # Executar testes
      - name: Executando os testes
        run: npx cypress run --browser chrome --headless

      # Gerar relatório Mochawesome apenas se houver arquivos JSON
      - name: Gerar relatório Mochawesome
        run: |
          if compgen -G "cypress/reports/*.json" > /dev/null; then
            npx mochawesome-merge cypress/reports/*.json > cypress/reports/report.json
            npx marge cypress/reports/report.json -f final-report -o cypress/reports
          else
            echo "Nenhum arquivo JSON encontrado. Pulando merge do Mochawesome."
          fi

      # Upload dos artefatos (screenshots, vídeos e relatórios)
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: relatorios
          path: |
            cypress/reports
            cypress/screenshots
            cypress/videos
